.THIS .checkAllOptions >fieldset >.slds-form-element__control{
    display: flex !important;
}
.THIS .IncidentWas >fieldset >.slds-form-element__control{
    display: flex !important;
}
.THIS .slds-form-element__label{
    font-weight: bold;
}

.THIS .levelOneGroup > fieldset >.slds-form-element__control{
    display: flex !important;
    flex-wrap:wrap;
    width: 90%;
}

.THIS .slds-checkbox{
    margin : 5px;
}

.THIS .loadingSpinner{
    z-index: 10000;
  position: fixed;
}