.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS dl {
  columns: 2;
}

.THIS dd {
  break-before: avoid;
}
.THIS .slds-box{
    
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    margin-top: 5px;
    margin-bottom: 5px;
}
.THIS .slds-text-heading--large {
    
    color:red;
}
.THIS div.slds-tile h3.slds-truncate a{
    
   
    font-size: 1.70rem;
    line-height: 1.2;
    text-decoration:none;
}

.THIS dt.slds-dl_horizontal__label{
    
}